<ul>
  {{#each response}}
    <li>
      <img src='{{image_url}}' alt='' />
      {{name}}
      {{description}}
      {{tagline}}
      {{food_pairing}}
      {{brewers_tips}}
    </li>
  {{/each}}
</ul>